{% extends 'base.html' %}

{% block content %}
<div class='container'>
  <hr/>
  <div class="alert alert-success">
    <strong>Congratulations!</strong> You've just started your first Django project.
  </div>
  <p>Check out <a href=''>Cookbook</a> to get started on next steps!</p>
</div>
{% endblock %}
